.main-bar
  .main-bar__top
    .main-bar__top__table-one
      .main-bar__top__table-one__up
        %input#tweive{type: "button", value: "12", class:"btn", onclick: "Color()"}
          
        %input#eleven{type: "button", value: "11", class:"btn"}
      
        %input#ten{type: "button", value: "10", class:"btn"}
        
        %input#nine{type: "button", value: "9"}
  
      .main-bar__top__table-one__under
        %button#sixteen{type: "button"}
          =16
        %button#fifteen{type: "button"}
          =15
        %button#fourteen{type: "button"}
          =14
        %button#thirteen{type: "button"}
          =13
    .main-bar__top__table-two
      .main-bar__top__table-two__up
        %button#four{type: "button"}
          =4
        %button#three{type: "button"}
          =3
        %button#two{type: "button"}
          =2
        %button#one{type: "button"}
          =1
      .main-bar__top__table-two__under
        %button#eight{type: "button"}
          =8
        %button#seven{type: "button"}
          =7
        %button#six{type: "button"}
          =6
        %button#five{type: "button"}
          =5

  .main-bar__center
    .main-bar__center__table-three
      .main-bar__center__table-three__up
        %button#twenty-eight{type: "button"}
          =28
        %button#twenty-seven{type: "button"}
          =27
        %button#twenty-six{type: "button"}
          =26
        %button#twenty-five{type: "button"}
          =25
      .main-bar__center__table-three__under
        %button#thirty-two{type: "button"}
          =32
        %button#thirty-one{type: "button"}
          =31
        %button#thirty{type: "button"}
          =30
        %button#twenty-nine{type: "button"}
          =29
    .main-bar__center__table-four
      .main-bar__center__table-four__up
        %button#twenty{type: "button"}
          =20
        %button#nineteen{type: "button"}
          =19
        %button#eighteen{type: "button"}
          =18
        %button#seventeen{type: "button"}
          =17
      .main-bar__center__table-four__under
        %button#twenty-four{type: "button"}
          =24
        %button#twenty-three{type: "button"}
          =23
        %button#twenty-two{type: "button"}
          =22
        %button#twenty-one{type: "button"}
          =21

  .main-bar__bottom
    .main-bar__bottom__table-five
      .main-bar__bottom__table-five__up
        %button#forty-four{type: "button"}
          =44
        %button#forty-three{type: "button"}
          =43
        %button#forty-two{type: "button"}
          =42
        %button#forty-one{type: "button"}
          =41
      .main-bar__bottom__table-five__under
        %button#forty-eight{type: "button"}
          =48
        %button#forty-seven{type: "button"}
          =47
        %button#forty-six{type: "button"}
          =46
        %button#forty-five{type: "button"}
          =45
    .main-bar__bottom__table-six
      .main-bar__bottom__table-six__up
        %button#thirty-six{type: "button"}
          =36
        %button#thirty-five{type: "button"}
          =35
        %button#thirty-four{type: "button"}
          =34
        %button#thirty-three{type: "button"}
          =33
      .main-bar__bottom__table-six__under
        %button#forty{type: "button"}
          =40
        %button#thirty-nine{type: "button"}
          =39
        %button#thirty-eight{type: "button"}
          =38
        %button#thirty-seven{type: "button"}
          =37